**/node_modules
**/dist
**/.DS_Store
.devcontainer/dev.env
integration-tests/videos
integration-tests/screenshots
playwright-report/
test-results/

# Yarn v4
.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/sdks
!.yarn/versions
.pnp.*

# IDEs
.idea/
.vs/
.worktrees
