.kuadrant-gateway-editor-toggle {
  display: flex;
  padding: var(--pf-t--global--spacer--md) 0;
  border-bottom: var(--pf-t--global--border--width--regular) solid
    var(--pf-t--global--border--color--default);
  border-top: var(--pf-t--global--border--width--regular) solid
    var(--pf-t--global--border--color--default);
}

.kuadrant-gateway-editor-toggle span {
  margin-right: 0.5rem;
}

.kuadrant-gateway-editor-toggle .pf-v6-c-radio {
  padding: 0 0 0 0.5rem;
}
