/* Prefixing your CSS classes with your plugin name is a best practice to avoid
 * collisions with other plugin styles. */
.console-plugin-template__nice {
  /* Use PF global vars for colors to support dark mode in OpenShift 4.11.
   * https://patternfly-react-main.surge.sh/developer-resources/global-css-variables */
  color: var(--pf-global--palette--blue-400);
}

.policy-topology-container svg text {
  font-family: RedHatText, helvetica, arial, sans-serif !important;
  font-size: 0.7em !important;
}

.policy-topology-container {
  height: 500px;
}

.kuadrant-page-title {
  padding: 1.5rem;
}

.kuadrant-alert-group {
  padding-top: 1rem;
}

.co-m-nav-title--row .co-m-primary-action {
  padding-top: 1rem;
}

.kuadrant-editor-toggle {
  display: flex;
  padding-left: 1.5rem;
  padding-right: 1.5rem;
  border-bottom: var(--pf-v5-global--BorderWidth--sm) solid var(--pf-v5-global--BorderColor--100);
  border-top: var(--pf-v5-global--BorderWidth--sm) solid var(--pf-v5-global--BorderColor--100);
  padding: var(--pf-v5-global--spacer--sm) var(--pf-v5-global--spacer--lg);
}

.kuadrant-editor-toggle .pf-v5-c-radio {
  padding: 0 0 0 1rem;
}

.kuadrant-modal-dynamic-height {
  min-height: auto;
  max-height: 450px;
  overflow-y: auto;
  padding: 1rem;
}

.kuadrant-dashboard-learning {
  color: #1F0066;
}

@media (prefers-color-scheme: light) {
  .kuadrant-dashboard-learning {
    color: #1F0066;
  }
}

@media (prefers-color-scheme: dark) {
  .kuadrant-dashboard-learning  {
    color: #9c90b9;
  }
}




.kuadrant-dashboard-feature-highlights {
  color: #0066CC;
}

.kuadrant-dashboard-enhance {
  color: #D38940;
}

.kuadrant-dashboard-learning, .kuadrant-dashboard-feature-highlights, .kuadrant-dashboard-enhance  {
  margin-bottom: 0.5em;
}

.kuadrant-dashboard-resource-link {
  text-decoration: none;
  color: black;
  cursor: pointer;
  font-size: 0.9rem;
}

@media (prefers-color-scheme: light) {
  .kuadrant-dashboard-resource-link{
    color: black;
  }
}

@media (prefers-color-scheme: dark) {
  .kuadrant-dashboard-resource-link {
    color: white;
  }
}

.kuadrant-dashboard-resource-link:hover {
  text-decoration: underline;
  color: #0066cc;
}

.kuadrant-reading-time {
  font-size: 0.8rem;
  color: grey;
  margin-left: 1rem;
  margin-right: 1rem
}

.kuadrant-limits-header {
  margin: 1rem 0 0;
}

.kuadrant-limits-button, .pf-v5-c-label-group {
  margin: 1rem;
}
.namespaceSelectWrapper {
  display: flex;
  align-items: center;
  border: 1px solid #ccc;
  padding-left: 4px;
}

.namespaceBadge {
  background-color: green;
  color: white;
  padding: 6px 12px;
  border-radius: 70%; 
  display: flex;
  justify-content: center;
  align-items: center;
  width: 24px; 
  height: 24px; 
}


