/* Prefixing your CSS classes with your plugin name is a best practice to avoid
 * collisions with other plugin styles. */
.console-plugin-template__nice {
  /* Use PF global vars for colors to support dark mode in OpenShift 4.11.
   * https://patternfly-react-main.surge.sh/developer-resources/global-css-variables */
  color: var(--pf-global--palette--blue-400);
}

.policy-topology-container svg text {
  font-family: RedHatText, helvetica, arial, sans-serif;
  font-size: 0.7em;
}

.policy-topology-container {
  height: 500px;
}
