/* Prefixing your CSS classes with your plugin name is a best practice to avoid
 * collisions with other plugin styles. */
.console-plugin-template__nice {
  /* Use PF global vars for colors to support dark mode in OpenShift 4.11.
   * https://patternfly-react-main.surge.sh/developer-resources/global-css-variables */
  color: var(--pf-global--palette--blue-400);
}

.policy-node .pf-topology__node__background {
  stroke-dasharray: 5, 5;
  stroke-width: 1;
  stroke: var(--pf-topology__edge--Stroke);
  animation: dash-animation 2s linear infinite;
  fill: #d4f2ffa4;
}

@keyframes dash-animation {
  to {
    stroke-dashoffset: -10;
  }
}

.pf-theme-light .pf-topology__node .kuadrant-topology-type-text {
  fill: #000 !important;
}

.pf-theme-dark .pf-topology__node .kuadrant-topology-type-text {
  fill: #fff !important;
}

.kuadrant-policy-topology .pf-topology__node__label__badge > text {
  fill: #fff;
}

.kuadrant-page-title {
  padding: 1.5rem;
}

.kuadrant-alert-group {
  padding-top: 1rem;
}

.co-m-nav-title--row .co-m-primary-action {
  padding-top: 1rem;
}

.kuadrant-editor-toggle {
  display: flex;
  padding-left: 1.5rem;
  padding-right: 1.5rem;
  border-bottom: var(--pf-v5-global--BorderWidth--sm) solid var(--pf-v5-global--BorderColor--100);
  border-top: var(--pf-v5-global--BorderWidth--sm) solid var(--pf-v5-global--BorderColor--100);
  padding: var(--pf-v5-global--spacer--sm) var(--pf-v5-global--spacer--lg);
}

.kuadrant-editor-toggle .pf-v5-c-radio {
  padding: 0 0 0 1rem;
}

.kuadrant-modal-dynamic-height {
  min-height: auto;
  max-height: 450px;
  overflow-y: auto;
  padding: 1rem;
}

.kuadrant-dashboard-learning {
  color: #1F0066;
}

.pf-theme-light  .kuadrant-dashboard-learning {
  color: #1F0066;
}

.pf-theme-dark .kuadrant-dashboard-learning  {
  color: #9c90b9;
}

.kuadrant-dashboard-feature-highlights {
  color: #0066CC;
}

.kuadrant-dashboard-enhance {
  color: #D38940;
}

.kuadrant-dashboard-learning, .kuadrant-dashboard-feature-highlights, .kuadrant-dashboard-enhance  {
  margin-bottom: 0.5em;
}

.kuadrant-dashboard-resource-link {
  text-decoration: none;
  color: black;
  cursor: pointer;
  font-size: 0.9rem;
}

.pf-theme-light .kuadrant-dashboard-resource-link {
  color: black;
}

.pf-theme-dark .kuadrant-dashboard-resource-link {
  color: white;
}

.kuadrant-dashboard-resource-link:hover {
  text-decoration: underline;
  color: #0066cc;
}

.kuadrant-reading-time {
  font-size: 0.8rem;
  color: grey;
  margin-left: 1rem;
  margin-right: 1rem
}

.kuadrant-limits-header {
  margin: 1rem 0 0;
}

.kuadrant-limits-button, .pf-v5-c-label-group {
  margin: 1rem;
}
.namespaceSelectWrapper {
  display: flex;
  align-items: center;
  border: 1px solid #ccc;
  padding-left: 4px;
}

.namespaceBadge {
  background-color: green;
  color: white;
  padding: 6px 12px;
  border-radius: 70%; 
  display: flex;
  justify-content: center;
  align-items: center;
  width: 24px; 
  height: 24px; 
}

.kuadrant-resource-create-container {
  position: relative;
}

.kuadrant-resource-create-button {
  position: absolute;
  top: 0;
  right: 0;
}

.kuadrant-policy-list-body .co-m-pane__body {
  padding: 0;
}
