/* Prefixing your CSS classes with your plugin name is a best practice to avoid
 * collisions with other plugin styles. */
.console-plugin-template__nice {
  /* Use PF global vars for colors to support dark mode in OpenShift 4.11.
   * https://patternfly-react-main.surge.sh/developer-resources/global-css-variables */
  color: var(--pf-global--palette--blue-400);
}

.policy-topology-container svg text {
  font-family: RedHatText, helvetica, arial, sans-serif;
  font-size: 0.7em;
}

.policy-topology-container {
  height: 500px;
}

.kuadrant-page-title {
  padding: 1.5rem;
}

.kuadrant-alert-group {
  padding-top: 1rem;
}

.co-m-nav-title--row .co-m-primary-action {
  padding-top: 1rem;
}

.kuadrant-editor-toggle {
  display: flex;
  padding-left: 1.5rem;
  padding-right: 1.5rem;
  border-bottom: var(--pf-v5-global--BorderWidth--sm) solid var(--pf-v5-global--BorderColor--100);
  border-top: var(--pf-v5-global--BorderWidth--sm) solid var(--pf-v5-global--BorderColor--100);
  padding: var(--pf-v5-global--spacer--sm) var(--pf-v5-global--spacer--lg);
}

.kuadrant-editor-toggle .pf-v5-c-radio {
  padding: 0 0 0 1rem;
}