name: Build and Push Multi-Arch Image

on:
  push:
    branches:
      - main  # only for merges/pushes to main

env:
  REGISTRY_USER: ${{ secrets.QUAY_USER }}
  IMAGE_REGISTRY: quay.io
  REGISTRY_PASSWORD: ${{ secrets.QUAY_PASSWORD }}

jobs:
  build:
    name: Build and push multi-arch image
    runs-on: ubuntu-22.04

    steps:
      - name: Log in to Quay.io
        uses: redhat-actions/podman-login@v1
        with:
          username: ${{ env.REGISTRY_USER }}
          password: ${{ env.REGISTRY_PASSWORD }}
          registry: ${{ env.IMAGE_REGISTRY }}

      - uses: actions/checkout@v4

      - name: Build Multi-Arch Image
        id: build-image
        uses: redhat-actions/buildah-build@v2
        with:
          image: quay.io/kuadrant/console-plugin
          tags: |
            latest
            ${{ github.sha }}
          archs: |
            amd64
            arm64
          containerfiles: |
            ./Dockerfile

      - name: Push To Quay.io
        id: push-to-quay
        uses: redhat-actions/push-to-registry@v2
        with:
          registry: quay.io
          image: kuadrant/console-plugin
          tags: |
            latest
            ${{ github.sha }}

      - name: Print image URL
        run: echo "Image pushed to ${{ steps.push-to-quay.outputs.registry-paths }}"
